/*Dark and Light Modes*/
:root {
  --border-radius: 5px;
  --success-col: #126014;
  --warning-col: #f5a623;
  --info-col: #7676d0;
  --error-col: #dd2e44;
  --primary-col: #50327f;
  --secondary-col: #dd2e44;
  --link-col: #7676d0;

  /*Light*/
  --bg-col-lt: #f5f5f5;
  --txt-col-lt: #333;

  /*Dark*/
  --bg-col-dk: #111;
  --bg-col2-dk: #333;
  --bg-col3-dk: #555;
  --txt-col-dk: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.5;
  color: var(--txt-col-dk);
  background-color: var(--bg-col-dk);
}

body * {
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--link-col);
}

a:visited {
  color: var(--link-col);
}

code {
  background-color: var(--bg-col2-dk);
  color: var(--txt-col-dk);
  border-radius: var(--border-radius);
  padding: .25rem .5rem;
}

.container {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav__title h1 {
  font-size: 2em;
}

.nav__links {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  width: 33%;
}

.input-group input,
.input-group select,
.input-group textarea {
  background: var(--bg-col2-dk);
  color: white;
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
}

button,
input[type="submit"] {
  background: var(--secondary-col);
  color: white;
  border: none;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
}

.input-group input[type="submit"] {
  background: var(--success-col);
  color: white;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--bg-col3-dk);
}

tr:hover {
  background-color: var(--bg-col-dk);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#timer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-col2-dk);
  padding: 1rem;
  border-radius: var(--border-radius);
  text-align: center;
  margin-bottom: 1rem;
}

#timer .timer__time {
  font-size: 3em;
  font-weight: bold;
}

#timer .timer__table {
  text-align: left;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.modal__content {
  background: var(--bg-col2-dk);
  margin: auto;
  padding: 20px;
  border-radius: var(--border-radius);
  width: 500px;
  max-width: 100%;
}

.modal__close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2em;
  font-weight: bold;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}

.modal__close:hover,
.modal__close:focus {
  background: var(--bg-col-lt);
  color: var(--txt-col-lt);
  text-decoration: none;
  cursor: pointer;
}

#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.toast-success {
  background-color: var(--success-col);
}

.toast-error {
  background-color: var(--error-col);
}
